# MySQL configuration with database initialization using secret references
# This example shows different secret key names
# Prerequisites: Create secrets first:
#   kubectl create secret generic opik-password --from-literal=password=opik_secure_pass
#   kubectl create secret generic comet-password --from-literal=db-pass=comet_secure_pass
#   kubectl create secret generic druid-password --from-literal=mysql-pwd=druid_secure_pass
#
# Usage: helm install my-mysql ./ -f examples/init-job-secretref-values.yaml

fullnameOverride: "my-mysql"

auth:
  rootPassword: "mySecureRootPassword"

# Enable init job to create databases and users
initJob:
  enabled: true
  databases:
    # Opik database - standard key name "password"
    - name: opik
      username: opik
      passwordSecretRef:
        secretName: opik-password
        secretKey: password
    
    # Comet database - custom key name "db-pass"
    - name: comet
      username: comet
      passwordSecretRef:
        secretName: comet-password
        secretKey: db-pass
    
    # Druid database - custom key name "mysql-pwd"
    - name: druid
      username: druid
      passwordSecretRef:
        secretName: druid-password
        secretKey: mysql-pwd

primary:
  persistence:
    enabled: true
    size: 20Gi

