{{- if not .Values.primary.existingConfigmap }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mysql.configmapName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mysql.labels" . | nindent 4 }}
data:
  my.cnf: |-
    {{ .Values.primary.configuration | nindent 4 }}
{{- end }}

