name: Helm Chart Diff

on:
  pull_request:
    branches:
      - main

# This permission is required for the action to post a comment on the PR
permissions:
  contents: read
  pull-requests: write

jobs:
  helm-diff:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        values_file:
          - values.yaml
          - examples/backup-aws-iam-role-values.yaml
          - examples/backup-aws-s3-values.yaml
          - examples/backup-minio-values.yaml
          - examples/common-labels-values.yaml
          - examples/complete-setup-values.yaml
          - examples/existing-pvc-values.yaml
          - examples/extra-args-values.yaml
          - examples/init-job-mixed-values.yaml
          - examples/init-job-secretref-values.yaml
          - examples/initdb-scripts-values.yaml
          - examples/network-policy-values.yaml
          - examples/pdb-values.yaml
          - examples/restore-aws-iam-role-values.yaml
          - examples/restore-aws-s3-values.yaml
          - examples/restore-minio-values.yaml
          - examples/simple-values.yaml
          - examples/tls-values.yaml

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}
          ref: ${{ github.event.pull_request.base.sha }}
          token: ${{ secrets.GH_PAT_TO_ACCESS_GITHUB_API }}

      - name: Set Environment
        id: set-env
        run: |
          BRANCH_NAME=$(if [[ "${{github.base_ref}}" != "" ]]; then echo "${{github.base_ref}}"; else echo "${{ github.ref_name }}";fi)
          ENVIRONMENT=$(if [[ "${BRANCH_NAME}" == "main" ]]; then echo "production"; else echo "${BRANCH_NAME}";fi)
          echo "environment=${ENVIRONMENT}" >> $GITHUB_OUTPUT

      - name: Run Helm Chart Diff
        uses: comet-ml/gha-tools/helm/helm-diff@guy/DND-345_add-helm-diff-composite-action
        with:
          chart_path: .
          values_file: ${{ matrix.values_file }}
          environment: ${{ steps.set-env.outputs.environment }}
          base_sha: ${{ github.event.pull_request.base.sha }}
          head_sha: ${{ github.event.pull_request.head.sha }}
          pr_number: ${{ github.event.pull_request.number }}
          github_token: ${{ secrets.GH_PAT_TO_ACCESS_GITHUB_API }}
          repository: ${{ github.repository }}

